name = "streamindian"
main = "worker.js"
compatibility_date = "2023-10-30"

# KV Namespace Binding
# Go to Cloudflare Dashboard > Workers > KV > Create Namespace "STREAMINDIAN_KV"
# Copy that ID and paste it below.
[[kv_namespaces]]
binding = "CACHE"
id = "866f924d86a6411ab951f48726070c31"

# Triggers for cron jobs (optional, for later caching updates)
[triggers]
crons = ["0 0 * * *"]
[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1